<div class="container-fluid navbar-dark bg-dark">
  <div class="row">

      <div class="col-md-2">
        <div class="logo">Bazar CashBack</div>
      </div>

    <div class="col-md-10">
        <nav class="navbar navbar-expand-lg">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="category">Category</a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link" routerLink="product">Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="aboutus">AboutUs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="contactus">ContactUs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="register">Registration</a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="myaccount">My Account</a>
                </li> -->

          
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="myaccount" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Account
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="profile" >Profile</a>
                    <a class="dropdown-item" routerLink="changepassword" >Change Password</a>
                    <a class="dropdown-item" (click)="onLogout()">LogOut</a>              
                  </div>
                </li>


              </ul>
            </div>
          </nav>
    </div>
  </div>
</div>
<div class="container" style="min-height:530px !important;" >
  <div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container-fluid" id="bg-dark">
  <div class="row">
      
    <div class="col-md-12" style="text-align:center">
      <a href="#" >Bazar CashBack</a> © 2017 | all rights reserved! | Privacy Policy
    </div>
  </div>
</div>