<div class="row">

    <div class="col-md-12 regheader">
      User Listing Page.
    </div>
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Email-id</th>
            <th scope="col">Occupation</th>
            <th scope="col"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Add User </button></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Yogendra Kumar Singh</td>
            <td>9015992826/8800794826</td>
            <td>php.yogendra@gmail.com</td>
            <td colspan="2">Software Engineer</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="container">
    <div class="row">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New User Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">            
            <input type="text" class="form-control" id="recipient-name" placeholder="User Name">
          </div>
          <div class="form-group">           
            <input type="text" class="form-control" id="recipient-name" placeholder="Email-id">          
          </div>
          <div class="form-group">            
            <input type="text" class="form-control" id="recipient-name" placeholder="Mobile No ">
          </div>

          <div class="form-group">           
            <input type="text" class="form-control" id="recipient-name" placeholder="Occupation">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>